/*
 * highlightjs-material-dark-theme
 * Material Dark theme for Highlight.js
 * Based off of https://github.com/equinusocio/material-theme
 * For use with Highlight.js, https://github.com/isagalaev/highlight.js
 */
/* cyrillic-ext */
@font-face {
    font-family: 'Fira Mono';
    font-style: normal;
    font-weight: 400;
    src: local('Fira Mono Regular'), local('FiraMono-Regular'), url(https://fonts.gstatic.com/s/firamono/v5/zU7WTKudYj3kyp83WUTNRIX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
    font-family: 'Fira Mono';
    font-style: normal;
    font-weight: 400;
    src: local('Fira Mono Regular'), local('FiraMono-Regular'), url(https://fonts.gstatic.com/s/firamono/v5/1Ci0A82NC1vmnBGZ40JtDIX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
    font-family: 'Fira Mono';
    font-style: normal;
    font-weight: 400;
    src: local('Fira Mono Regular'), local('FiraMono-Regular'), url(https://fonts.gstatic.com/s/firamono/v5/CNcOMq0eKtUFFFCp0lHQLIX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
    font-family: 'Fira Mono';
    font-style: normal;
    font-weight: 400;
    src: local('Fira Mono Regular'), local('FiraMono-Regular'), url(https://fonts.gstatic.com/s/firamono/v5/15JCs9lpil7lsTP978NDCoX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}
/* latin-ext */
@font-face {
    font-family: 'Fira Mono';
    font-style: normal;
    font-weight: 400;
    src: local('Fira Mono Regular'), local('FiraMono-Regular'), url(https://fonts.gstatic.com/s/firamono/v5/4JBDq56CMkU462bp0T-W9IX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Fira Mono';
    font-style: normal;
    font-weight: 400;
    src: local('Fira Mono Regular'), local('FiraMono-Regular'), url(https://fonts.gstatic.com/s/firamono/v5/SlRWfq1zeqXiYWAN-lnG-pBw1xU1rKptJj_0jans920.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em;
    background: black;
    color: #fff;
    font-family: "Fira Mono", monospace;
    font-size: 1em;
}
.hljs > *::selection {
    background-color: #3e4451;
}

.hljs-comment {
    color: #656565!important;
    font-style: italic!important;
}

.hljs-selector-tag {
    color: #C792EA;
}

.hljs-string,
.hljs-subst {
    color: #04A57D;
}

.hljs-number,
.hljs-regexp,
.hljs-variable,
.hljs-template-variable {
    color: #DE3078;
}

.hljs-keyword {
    color: #2E95D3 !important;
}
.function_.hljs-title {
    color: #F22C3D !important;
}
.hljs-tag {
    color: white !important;
}
.hljs-name {
    color: white !important;
}
.hljs-type {
    color: #da4939;
}

.hljs-attr {
    color: #DE3078 !important;
}

.hljs-symbol,
.hljs-bullet,
.hljs-built_in,
.hljs-builtin-name,
.hljs-link {
    color: #E9950D !important;
}

.hljs-params {
    color: #EEFFF7;
}


.hljs-meta {
    color: #75A5FF;
}

.hljs-title {
    color: #F22C3D;
}

.hljs-section {
    color: #ffc66d;
}

.hljs-addition {
    background-color: #144212;
    color: #e6e1dc;
    display: inline-block;
    width: 100%;
}

.hljs-deletion {
    background-color: #600;
    color: #e6e1dc;
    display: inline-block;
    width: 100%;
}

.hljs-selector-class {
    color: #FFCB68;
}

.hljs-selector-id {
    color: #F77669;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}

.hljs-link {
    text-decoration: underline;
}