@tailwind base;
@tailwind components;
@tailwind utilities;

.menu > .selected, .selected > a:hover {
    color: oklch(var(--a));
}

.toggle, .toggle:checked, .toggle[aria-checked=true], .toggle[checked=true] {
    @apply border-opacity-30
}

.z-1000 {
    z-index: 1000;
}

.hidden-trick {
    position: fixed;
    pointer-events: none;
    opacity: 0;
}