#cover {position: fixed; height: 100%; width: 190px; top:0; left: 0; background: #202123; z-index:9999;}
main{
    margin-left : 201px;
    margin-right: 12px;
}

.w-60{
    width: 60%;
}
#category-filter{
    background: #0BA37F;
    color: #fff;
    min-width: 150px;
    display: block;
}
.black {
    color: black;
}
a
{
    cursor: pointer;
}

body.dark{
    background-color: #343541;
}

.dark{
    color: #D1D5DA;
}
.text{
    white-space: pre-wrap;
}
.text-xs{
    font-size: 10pt;
}

.row.dark{
    border-bottom: #2A2B31 1px solid;
    border-top: #2A2B31 1px solid;
}
.row.light{
    border-bottom: #E5E5E5 1px solid;
    border-top: #E5E5E5 1px solid;
}
.row:hover{
    border: #0BA37F 2px solid;
}

.square-icon {
	font-size: 24px;
}

[contentEditable] {
	font-style: italic;
	/* border: 2px solid #0060DF; */
	border-radius: 5px;
	background-color: #212128;
	padding-left: 5px;
	padding-right: 5px;
}
.light .title-text.editable{
    background-color: #eeeeee;
    color: black;
}

/* make textarea invisible */
textarea {
	background: transparent;
	color: inherit;
	
	width: 100%;
	
	-webkit-appearance: none;
	appearance: none;
	
	border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none; 
}

.dark textarea {
	background-color: #212128;
}

.light textarea {
    background-color: #eeeeee;
}

.even.dark{
    background-color: #343541;
    color: #ECECF1;
}
.even.light{
    background-color: #ffffff;
}

.odd.light{
    background-color: #F7F7F8 !important;
}

.odd.dark{
    background-color: #434654 !important;
    color: #D1D5DA;
}

.prompt-div {
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    --sas-docked-width: 350px;
    --sas-border-color: #068ACA;
    --sas-popup-gutter: 20px;
    --color-primary: #19c37d;
    --color-secondary: #715fde;
    --color-error: #ef4146;
    --gradient-primary: linear-gradient(90deg, #a29bd4, #989fdd);
    --text-primary: #202123;
    --text-default: #353740;
    --text-secondary: #6e6e80;
    --text-disabled: #acacbe;
    --text-error: var(--color-error);
    color-scheme: light;
    --tw-text-opacity: 1;
    list-style: none;
    border: 0 solid #d9d9e3;
    box-sizing: border-box;
    color: black;
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    margin: 0;
    text-transform: none;
    -webkit-appearance: button;
    background-image: none;
    cursor: pointer;
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: .5rem;
    border-radius: .375rem;
    --tw-bg-opacity: 1;
    background-color: rgba(247, 247, 248, var(--tw-bg-opacity));
    padding: 1rem;
    text-align: left;
}

.public-text {
    tab-size: 4;
    color-scheme: light;
    list-style: none;
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    text-transform: none;
    cursor: pointer;
    text-align: left;
    border: 0 solid #d9d9e3;
    box-sizing: border-box;
    margin: 0;
    color: rgba(142, 142, 160, var(--tw-text-opacity));
}

.public-title {
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    color-scheme: light;
    list-style: none;
    font-family: inherit;
    text-transform: none;
    cursor: pointer;
    text-align: left;
    border: 0 solid #d9d9e3;
    box-sizing: border-box;
    font-weight: 600;
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: rgba(32, 33, 35, var(--tw-text-opacity));
}

.font-medium {
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    color-scheme: light;
    font-weight: 500;
}

.prompt-div:hover{
    background-color: #e0dce4;
}

.modal-dialog .modal-content {
    height: 100%;
}

.search-bar {
    border: 0;
    padding: 0;
    background-color: #343541;
    border-radius: 2px;
    color: #fff;
    width: 165px;
    height: 30px;
}

.highlight {
    color: black!important;
    background-color: yellow;
    font-weight: bold;
    opacity: 0.4;
}

.search-bar:focus {
    outline: none;
}

.search-bar:focus::-webkit-input-placeholder {
    color: transparent;
}

.search-bar:focus::-moz-placeholder {
    color: transparent;
}

.search-bar:focus:-ms-input-placeholder {
    color: transparent;
}

.search-bar:focus::placeholder {
    color: transparent;
}

.search-bar::-webkit-input-placeholder {
    color: #fff;
}

.search-bar::-moz-placeholder {
    color: #fff;
}

.search-bar:-ms-input-placeholder {
    color: #fff;
}

.search-bar::placeholder {
    color: #fff;
}

.form{

    position: relative;
}

.form .fa-search{

    position: absolute;
    top:20px;
    left: 20px;
    color: #9ca3af;

}

.form span{

    position: absolute;
    right: 17px;
    top: 13px;
    padding: 2px;
    border-left: 1px solid #d1d5db;

}

.form-input{

    height: 55px;
    text-indent: 33px;
    border-radius: 10px;
}

.form-input:focus{

    box-shadow: none;
    border:none;
}

.tags {
    list-style: none; /* Remove the default bullet points */
    display: flex; /* Display the tags as a flex container */
    flex-wrap: wrap; /* Allow the tags to wrap onto multiple lines if necessary */
    margin: 0; /* Remove the default margin */
    padding: 0; /* Remove the default padding */
}

.tags li {
    display: inline-block; /* Display each tag as an inline block */
    margin-right: 0.5em; /* Add some space between the tags */
    font-size: 0.9em; /* Make the font size slightly smaller than the default */
    line-height: 1; /* Reset the line height to the default */
    background-color: #f8f9fa; /* Set the background color to a light gray */
    padding: 0.25em 0.5em; /* Add some padding to the tag */
    border-radius: 0.25em; /* Round the corners of the tag */
}
.link-inner-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 1rem;
}
