/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 190px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #202123; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}
.sidenav a {
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
}
.sidenav svg{
    fill: #fff;
}

.sidenav a:hover {
    background-color: #343541;
    border-radius: 5px;
}
/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 12px;}
}

@media screen and (max-height: 720px) {
    .sidenav a {
        padding: 0.6rem!important;
    }
}

.top-half{
    position: absolute; top: 15px; left: 0; right: 0;
    z-index: 1;
    background-color: #202123; /* Black */
}
.bottom-half{
    position: absolute; bottom: 8px; left: 0; right: 0;
    border-top: 1px solid #4D4D4F;
    overflow: hidden;
}