.icon{
    width: 48px;
    height: 48px;
}

.copy{
    text-align: right;
    background-color: #343541;
    font-family: Söhne,ui-sans-serif,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-size: .75rem;
    line-height: 1rem;
    color: #D1D5DA;
}
.icon svg{
    background-color: #0BA37F;
    color: white;
    fill: white;
    border-radius: 3px;
    padding: 3px;
}
.text{
    margin-bottom: 1.25em;
    line-height: 1.75;
    white-space: pre-line;
}

.text table {
	font-size: .875em;
	line-height: 1.7142857;
	text-align: left;
	border: 1px solid #d9d9e3;
	border-radius: .375rem;
	width: 100%;
	
	border-collapse: separate; /* Collapse and radius are incompatible */
    border-spacing: 0;
	
	margin-bottom: 2em;
	margin-top: 2em;
}

.text th:first-child {
  border-top-left-radius: .375rem;
}

.text th:last-child {
  border-top-right-radius: .375rem;
}

.text th {
  border-top-width: 0px !important;	
}

.text th:first-child,
.text td:first-child {
	border-left-width: 0px;
}

/* 
	It's okay, there's no such thing as a markdown table with footers. 
	So we don't need to worry about that case.
*/

.text tr:last-child td:first-child {
  border-bottom-left-radius: .375rem;
}

.text tr:last-child td:last-child {
  border-bottom-right-radius: .375rem;
}


.text th, 
.text td {
	border-left-width: 1px;
	border-top-width: 1px;
	padding: .25rem .75rem;
}

.light .text th {
	background-color: #F7F7F8;
}

.dark .text th {
	background-color: #656773;
}

.clipboard{
    color: #D1D5DA;
}
/* Style page content */
#main {
    margin-left: 190px;
    padding: 0;
}
.light .bot {
    background-color: #F7F7F8 !important;
}
.dark .bot{
    background-color: #434654 !important;
    color: #D1D5DA;
}

.dark .human {
    background-color: #343541;
    color: #ECECF1;
}

.light .human {
    background-color: #ffffff;
}

.text svg{
    display:none
}
pre{
    white-space: pre-wrap;
    border-radius: 0.375rem;
}
code, pre{
    font-family: Söhne Mono,Monaco,Andale Mono,Ubuntu Mono,monospace!important;
}
code{
    font-size: .875em;
    font-weight: 600;
}
.dark code{
    color: #F9F9FA
}
pre code{
    color: #F9F9FA!important;
}
.light code{
    color: #111827
}
div > code::before, div> code::after{
    content: "" !important;
}
code::before, code::after{
    content: "`";
}
body.dark{
    background-color: #343541;
}
body.light{
    background-color: #FFF;
}
.dark .human, .dark .bot{
    border-bottom: #2A2B31 1px solid;
}
.light .human, .light .bot{
    border-bottom: #E5E5E5 1px solid;
}

.flex.items-center.relative{
    display: none;
}
/* moves the element to be completely 100% to the left of its parent */
.left-of-parent {
	position: absolute;
	transform: translateX(-100%);
	padding-right: 10px;
}
.branch button {
	background: none;
	border: none;
	color: inherit;
}
.branch button:disabled {
	color: grey;
}

#cover {position: fixed; height: 100%; width: 190px; top:0; left: 0; background: #202123; z-index:9999;}
