/*
	A cozy fireplace.
 */

/* background */
main 
{
	background-image: url("https://raw.githubusercontent.com/benf2004/ChatGPT-Prompt-Genius/master/public/images/fire.webp");
	background-repeat: no-repeat;
	background-size: cover;
}

main > div:last-child
{
	/* Disable that weird gradient */
	background-color: rgba(255,255,255,100) !important;
	box-shadow: 0 -10px 10px rgba(0,0,0,0.3);

	
}

.dark main > div:first-child > div 
{
	background: transparent;
}

.dark main > div:last-child
{
	/* Disable that weird gradient */
	background-color: rgba(52,53,65,100) !important;
	box-shadow: 0 -10px 10px rgba(0,0,0,0.3);
}

main .h-full.flex-col
{
	background: none;
}
 
/* Foolproof (TM) Individual Chat Node Selector */
main .h-full.flex-col > div
{	
	background: none; /* transparent it so we can see the background image */	
}

main .h-full.flex-col > div > h1.text-center, /* Only select the ChatGPT main header */
main .h-full.flex-col > div > div
{	
	background: white;
	box-shadow: 0 0 10px rgba(0,0,0,1.0);
	margin-top: 20px;
	padding-top :20px;
	padding-bottom :20px;
	padding-left: 80px;
	padding-right: 80px;
	border-radius: 10px;
	
	/* reset this */
	max-width: 60rem;
}

.dark main .h-full.flex-col > div > h1.text-center, /* Only select the ChatGPT main header */
.dark main .h-full.flex-col > div > div
{	
	background: rgb(52,53,65);
}

main .h-full.flex-col > div.bg-gray-50
{	
	background: none; /* transparent it so we can see the background image */
}

/* override borders */
main .h-full.flex-col > div
{	
	border: none;
}

/* Disregard spacer */
main .h-full.flex-col > div:last-child
{
	visibility: hidden;
}
