/*
	Retro future 2000s look. I could never get it right.
 */

/* Arial */
/* #8D9DAF */

/* Disable/override backgrounds */
.dark main > div:first-child > div {
  background: transparent;
}

main .flex-col.items-center.text-sm {
  background: none;
}

main .flex-col.items-center.text-sm > div.bg-gray-50 {
  background: transparent; /* transparent it so we can see the background image */
}

.dark main .dark\:bg-gray-800 {
  background: transparent;
}

/* override borders */
main .flex-col.items-center.text-sm > div {
  border: none;
}

/* Disregard spacer without disabling its position in the layout. */
main .flex-col.items-center.text-sm > div:last-child {
  visibility: hidden;
}

/* Disable that weird gradient for inputs */
main > div.md\:bg-vert-light-gradient {
  background: none;
}

/* Foolproof (TM) Individual Chat Node Selector */
main .flex-col.items-center.text-sm > div {
  background: linear-gradient(
    0deg,
    hsla(0, 0%, 100%, 1) 0%,
    hsla(240, 24%, 92%, 1) 100%
  );
  color: #8d9daf;
}

main {
  background-color: white;
  font-family: Arial;
}
