/* 
	CRT effect from Edwin
	https://dev.to/ekeijl/retro-crt-terminal-screen-in-css-js-4afh
	
 */

main
{
  font-family: monospace;
  background-image: radial-gradient( ellipse, #05321e 0%, #050505 90% );
  animation: textShadow 4s infinite;
}

main .h-full.flex-col::before
{
  content: " ";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: linear-gradient(
		to bottom,
		rgba(18, 16, 16, 0.1) 50%,
		rgba(0, 0, 0, 0.25) 50%
	);
	background-size: 100% 8px;
	z-index: 2;
	pointer-events: none;
}


.dark main 
{
  background-color: black;
}

/* Disable all backgrounds for terminal theme */
.dark main .dark\:bg-gray-800
{
  background: transparent;
}

main > div:last-child
{
	/* Disable that weird gradient */
	background: transparent;
}

.dark main > div:last-child
{
	/* Disable that weird gradient */
	background: transparent;
}

/* Style Input */
main > div.absolute > form
{
	margin: 0;
  max-width: 100%;
}

main > div.absolute > div:last-child
{
	display:none;
}

main > div.absolute > form > div > div.flex.flex-col
{
	background-color: transparent;
  box-shadow:none;
  border:0;
  border-bottom: 1px solid gray;
  border-radius: 0;
  color: white;
  background-color: black;
}

main > div.absolute > form > div > div.flex.flex-col:before
{
	content:">";
  position:absolute;
  left:0px;
  margin-top:-1px;
  font-size: 16px;
}

.dark .btn-neutral
{
  background-color: #63ff44;
  color: black;
  border: none;
}

.dark main .bg-gray-800
{
  background-color: #63ff44;
}

.dark main .bg-gray-800.text-gray-200
{
  color: black;
}

main .h-full.flex-col > div
{	
	background: transparent; /* transparent it so we can see the background image */
	/* Font */
	border:none;
}

main .h-full.flex-col > div > div
{	
	margin: 0;
  margin-left: 1em;
  padding-bottom:0;
  max-width: 100%;
}

.dark main .h-full.flex-col > div
{	
  
}

/* Font Color */
main .h-full.flex-col > div
{
  
}

.dark main .h-full.flex-col > div
{
  
}

main .h-full.flex-col > div .prose
{	
	color: black;
}

.dark main .h-full.flex-col > div .prose
{	
	color: #63ff44;
}

/* Disable Human/AI icons */
main .h-full.flex-col > div > div > div.items-end:first-child div:first-child
{	
	display:none;
}

main .h-full.flex-col > div
{	
  position: relative;  
}

main .h-full.flex-col > div > div > div.items-end:first-child
{	
  position: absolute;
  left: 0px;
  justify-content: left;
}

main .h-full.flex-col > div > div > div.items-end:first-child div.text-xs
{	
	position: absolute;
  transform: 0 !important;
  -webkit-transform: 0 !important;
  justify-content: left;
  justify-items: left;
  top: -16px;
  left: 65px;
  visibility: visible !important;
}

.dark main .dark\:text-gray-400
{
  color:inherit;
}

.dark main .dark\:bg-gray-700
{
  background-color: #63ff44;
  color:black;
}

.dark main .dark\:hover\:bg-gray-900:hover
{
  background-color: #4dc136;
  color:black;
}

.dark main .dark\:bg-white\/5
{
  background-color: #63ff44;
  color: black;
}

.dark main .dark\:text-gray-100
{
  color:#63ff44;
}

@keyframes flicker {
  0% {
    opacity: 0.27861;
  }
  5% {
    opacity: 0.34769;
  }
  10% {
    opacity: 0.23604;
  }
  15% {
    opacity: 0.90626;
  }
  20% {
    opacity: 0.18128;
  }
  25% {
    opacity: 0.83891;
  }
  30% {
    opacity: 0.65583;
  }
  35% {
    opacity: 0.67807;
  }
  40% {
    opacity: 0.26559;
  }
  45% {
    opacity: 0.84693;
  }
  50% {
    opacity: 0.96019;
  }
  55% {
    opacity: 0.08594;
  }
  60% {
    opacity: 0.20313;
  }
  65% {
    opacity: 0.71988;
  }
  70% {
    opacity: 0.53455;
  }
  75% {
    opacity: 0.37288;
  }
  80% {
    opacity: 0.71428;
  }
  85% {
    opacity: 0.70419;
  }
  90% {
    opacity: 0.7003;
  }
  95% {
    opacity: 0.36108;
  }
  100% {
    opacity: 0.24387;
  }
}

@keyframes textShadow {
  0% {
    text-shadow: 0.4389924193300864px 0 1px rgba(0,30,255,0.5), -0.4389924193300864px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  5% {
    text-shadow: 2.7928974010788217px 0 1px rgba(0,30,255,0.5), -2.7928974010788217px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  10% {
    text-shadow: 0.02956275843481219px 0 1px rgba(0,30,255,0.5), -0.02956275843481219px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  15% {
    text-shadow: 0.40218538552878136px 0 1px rgba(0,30,255,0.5), -0.40218538552878136px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  20% {
    text-shadow: 3.4794037899852017px 0 1px rgba(0,30,255,0.5), -3.4794037899852017px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  25% {
    text-shadow: 1.6125630401149584px 0 1px rgba(0,30,255,0.5), -1.6125630401149584px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  30% {
    text-shadow: 0.7015590085143956px 0 1px rgba(0,30,255,0.5), -0.7015590085143956px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  35% {
    text-shadow: 3.896914047650351px 0 1px rgba(0,30,255,0.5), -3.896914047650351px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  40% {
    text-shadow: 3.870905614848819px 0 1px rgba(0,30,255,0.5), -3.870905614848819px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  45% {
    text-shadow: 2.231056963361899px 0 1px rgba(0,30,255,0.5), -2.231056963361899px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  50% {
    text-shadow: 0.08084290417898504px 0 1px rgba(0,30,255,0.5), -0.08084290417898504px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  55% {
    text-shadow: 2.3758461067427543px 0 1px rgba(0,30,255,0.5), -2.3758461067427543px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  60% {
    text-shadow: 2.202193051050636px 0 1px rgba(0,30,255,0.5), -2.202193051050636px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  65% {
    text-shadow: 2.8638780614874975px 0 1px rgba(0,30,255,0.5), -2.8638780614874975px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  70% {
    text-shadow: 0.48874025155497314px 0 1px rgba(0,30,255,0.5), -0.48874025155497314px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  75% {
    text-shadow: 1.8948491305757957px 0 1px rgba(0,30,255,0.5), -1.8948491305757957px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  80% {
    text-shadow: 0.0833037308038857px 0 1px rgba(0,30,255,0.5), -0.0833037308038857px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  85% {
    text-shadow: 0.09769827255241735px 0 1px rgba(0,30,255,0.5), -0.09769827255241735px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  90% {
    text-shadow: 3.443339761481782px 0 1px rgba(0,30,255,0.5), -3.443339761481782px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  95% {
    text-shadow: 2.1841838852799786px 0 1px rgba(0,30,255,0.5), -2.1841838852799786px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  100% {
    text-shadow: 2.6208764473832513px 0 1px rgba(0,30,255,0.5), -2.6208764473832513px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
}