/* 
	CRT effect from Edwin
	https://dev.to/ekeijl/retro-crt-terminal-screen-in-css-js-4afh
	
 */
@import url("https://fonts.googleapis.com/css?family=VT323&display=swap");

main
{
  font-family: "VT323", monospace;
  background-image: radial-gradient( ellipse, #05321e 0%, #050505 90% );
  /* text glow */
  text-shadow: 0 0 5px #c8c8c8;
  color: #5bf870;
}

main .h-full.flex-col::before
{
  
  content: " ";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: linear-gradient(
		to bottom,
		rgba(18, 16, 16, 0.05) 50%,
		rgba(0, 0, 0, 0.25) 50%
	);
	background-size: 100% 8px;
	z-index: 0;
	pointer-events: none;
}

/* Disable all backgrounds for terminal theme */
.dark main .dark\:bg-gray-800
{
  background: transparent;
}

main > div:last-child
{
	/* Disable that weird gradient */
	background: transparent;
}

.dark main > div:last-child
{
	/* Disable that weird gradient */
	background: transparent;
}

/* Style Input */
main > div.absolute > form
{
	margin: 0;
  max-width: 100%;
}

main > div.absolute > div:last-child
{
	display:none;
}

main > div.absolute > form > div > div.flex.flex-col
{
	background-color: transparent;
  box-shadow:none;
  color: inherit;
  border:0;
  border-bottom: 1px solid gray;
  border-radius: 0;
}

main > div.absolute > form > div > div.flex.flex-col:before
{
	content:">";
  position:absolute;
  left:0px;
  margin-top:-1px;
  font-size: 16px;
}

.dark .btn-neutral
{
  background-color: #05321e;
  color: inherit;
  border: none;
}

.btn-primary
{
  background-color: #05321e;
  color: inherit;
}

.btn-primary:hover
{
  background-color: #15422e;
  color: inherit;
}

.dark main .bg-gray-800
{
  background-color: #05321e;
}

.dark main .bg-gray-800.text-gray-200
{
  color: black;
}

main .h-full.flex-col > div
{	
	background: transparent; /* transparent it so we can see the background image */
	/* Font */
	border:none;
}

main .h-full.flex-col > div > div
{	
	margin: 0;
  margin-left: 1em;
  padding-bottom:0;
  max-width: 100%;
}

.dark main .h-full.flex-col > div
{	
  
}

/* Font Color */
main .h-full.flex-col > div
{
  
}

.dark main .h-full.flex-col > div
{
  
}

main .h-full.flex-col > div .prose
{	
	color: black;
}

.dark main .h-full.flex-col > div .prose
{	
	color: inherit;
}

/* Disable Human/AI icons */
main .h-full.flex-col > div > div > div.items-end:first-child div:first-child
{	
	display:none;
}

main .h-full.flex-col > div
{	
  position: relative;  
}

main .h-full.flex-col > div > div > div.items-end:first-child
{	
  position: absolute;
  left: 0px;
  justify-content: left;
}

main .h-full.flex-col > div > div > div.items-end:first-child div.text-xs
{	
	position: absolute;
  transform: 0 !important;
  -webkit-transform: 0 !important;
  justify-content: left;
  justify-items: left;
  top: -16px;
  left: 65px;
  visibility: visible !important;
}

.dark main .dark\:text-gray-400
{
  color:inherit;
}

.dark main .dark\:bg-gray-700
{
  background-color: #05321e;
  color:inherit;
}

.dark main .dark\:hover\:bg-gray-900:hover
{
  background-color: #15422e;
}

.dark main .dark\:bg-white\/5
{
  background-color: #05321e;
  color: inherit;
}

.dark main .dark\:text-gray-100
{
  color: inherit;
}