/* 
	Credit to Martin Wolf
	https://codepen.io/martinwolf/pen/GRaWPy
 */

/* Disable/override backgrounds */
.dark main > div:first-child > div 
{
	background: transparent;
}

main .flex-col.items-center.text-sm
{
	background: none;
}
/*
main .flex-col.items-center.text-sm > div.bg-gray-50
{	
	background: none; /* transparent it so we can see the background image */
}
*/

.dark main .dark\:bg-gray-800
{
	background: transparent;
}

/* override borders */
main .flex-col.items-center.text-sm > div
{	
	border: none;
}

/* Disregard spacer without disabling its position in the layout. */
main .flex-col.items-center.text-sm > div:last-child
{
	visibility: hidden;
}

/* Disable that weird gradient for inputs */
main > div.md\:bg-vert-light-gradient
{
	background: none;
}

/* END RESET */
main 
{
  /*
  background: url(https://images.pexels.com/photos/733857/pexels-photo-733857.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
  background-repeat: no-repeat;
  */
}

.text-base
{
  font-size: 12pt;
}

/* Foolproof (TM) Individual Chat Node Selector */
main .flex-col.items-center.text-sm > div
{
  background-color: #fff;
  position: relative;
  margin: 40px auto;
  border-radius: 2px;
}

.dark main .flex-col.items-center.text-sm > div
{
  background-color: #343541;
}

main .flex-col.items-center.text-sm > div::before,
main .flex-col.items-center.text-sm > div::after {
  content: "";
  position: absolute;
  bottom: 10px;
  width: 50%;
  height: 20px;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.4);
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

main .flex-col.items-center.text-sm > div::before {
  left: 5px;
  transform: skew(-1deg) rotate(-1deg);
}

main .flex-col.items-center.text-sm > div::after {
  right: 5px;
  transform: skew(1deg) rotate(1deg);
}

main .flex-col.items-center.text-sm > div:hover::before,
main .flex-col.items-center.text-sm > div:hover::after {
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.7);
}

main .flex-col.items-center.text-sm > div:hover::before {
  left: 15px;
}

main .flex-col.items-center.text-sm > div:hover::after {
  right: 15px;
}