.dark main
{
	background: #1B1B1B;
}

.dark main .dark\:bg-gray-800
{
  background: transparent;
}

/* Foolproof (TM) Individual Chat Node Selector */
main .h-full > .flex-col > div
{
	border: 0;
	background: transparent !important;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

/* Make chats align left or right depending on if it's human or AI. Luckily we can assume odd/even. */
main .h-full > .flex-col > div:nth-child(even) > div
{
	margin-left: 1rem;
  background-color: #E5E5EA;
}

.dark main .h-full > .flex-col > div:nth-child(even) > div
{
	background-color: #333333;
}

main .h-full > .flex-col > div:nth-child(odd) > div
{
	margin-right: 1rem;
    color: #E5E5EA;
  background-color: #1982FC;
}

.lg\:w-\[calc\(100\%-115px\)\] {
    width: calc(100% - 20px);
}

main .h-full > .flex-col > div > div
{
  border-radius: 1rem;
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
}

/* Disable Human/AI icons */
main .h-full > .flex-col > div > div > div.items-end:first-child div:first-child
{
	display:none;
}

/* Move the </> arrows */
/* Yes, we do need to establish a new basis for absolutes. */
main .h-full > .flex-col > div
{
  position: relative;
}

main .h-full > .flex-col > div > div > div.items-end:first-child
{
  position: absolute; /* solely to remove it from the normal document flow */
  bottom: -10px;
  /* can't do left or right or else it breaks */
  justify-content: left;
}

main .h-full > .flex-col > div > div > div.items-end:first-child div.text-xs
{
  position:absolute;
  transform: none !important;
  -webkit-transform: none !important;
  justify-content: left;
  bottom: 0;
  visibility: visible !important;
}

/* Move the thumbs up/thumbs down thingies, only for the AI */
main .h-full > .flex-col > div:nth-child(even) > div > div:last-child
{
    width: 100%;
    position: static;
}

main .h-full > .flex-col > div:nth-child(even) > div > div > div.self-end:last-child
{
  position: absolute;
  top: -29px;
  right: 1rem;
  height: 24px;
  transform: none !important;
  -webkit-transform: none !important;
}


main .h-full > .flex-col > div:nth-child(even) > div > div > div > button
{
  width: 24px;
  height: 24px;
  margin-top: 25px;
}

/* Style Input */
main > div.absolute:last-child > form
{

}

main > div.absolute> form > div > div.flex.flex-col
{
  box-shadow: none;
  border-radius: 2rem;
}

.dark main > div.absolute> form > div > div.flex.flex-col
{
	background: #333333;
  border-color: #8B8E99;
}

.dark .btn-neutral
{
  background: #333333;
  border-color: #8B8E99;
}

main .text-xs
{
  color: black;
}

.dark main .text-xs
{
  color: white;
}

/* incredibly minor fix */
main .h-full > .flex-col > div > div > div.items-end:first-child div.text-xs button
{
  margin-top: 0;
}

/* styling fix for prompts page */
.dark main .text-gray-500
{
 color: inherit;
}

.bg-gray-50
{
  color: black;
}

.dark .bg-gray-50
{
  color: white;
}

.dark .dark\:hover\:bg-gray-900:hover
{
  background-color: #3292ff;
}