/* Disable/override backgrounds */
.dark main > div:first-child > div 
{
	background: transparent;
}

main .h-full.flex-col
{
	background: none;
}

main .h-full.flex-col > div.bg-gray-50
{	
	background: none; /* transparent it so we can see the background image */
}

.dark main .dark\:bg-gray-800
{
	background: transparent;
}

/* override borders */
main .h-full.flex-col > div
{	
	border: none;
}

/* Disregard spacer without disabling its position in the layout. */
main .h-full.flex-col > div:last-child
{
	visibility: hidden;
}

/* Disable that weird gradient for inputs */
main > div.md\:bg-vert-light-gradient
{
	background: none;
}