.icon{
    width: 48px;
    height: 48px;
}
/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 190px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #202123; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}
.icon svg{
    background-color: #0BA37F;
    color: white;
    fill: white;
    border-radius: 3px;
    padding: 3px;
}
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
}
.sidenav svg{
    fill: #fff;
}

.sidenav a:hover {
    background-color: #343541;
    border-radius: 5px;
}

/* Style page content */
#main {
    margin-left: 190px;
    padding: 0px;
}
.bot .light{
    background-color: #F7F7F8;
}
.bot.dark{
    background-color: #434654;
    color: #fff;
}

.human.dark{
    background-color: #343541;
    color: #fff;
}

.human .light{
    background-color: #ffffff;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
.text svg{
    display:none
}
pre{
    white-space: pre-wrap;
}